.sidebar {
  width: 240px;

  height: 100vh;

  background: white;

  padding: 24px;

  border-right: 1px solid #e5e7eb;
}

.sidebar p {
  padding: 12px 16px;

  margin-bottom: 10px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 500;

  transition: all 0.2s ease;
}

/* Hover effect */

.sidebar p:hover {
  background: #f1f5f9;
}

/* Active menu */

.sidebar p:first-child {
  background: #2563eb;

  color: white;
}